<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>TinyApp</title>
  </head>
  <body>
    <main style="margin: 1em;">
      <h3>My URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
          </tr>
        </thead>
        <tbody>
          <% for(let url in urls) { %>
          <tr>
            <td><%= url %></td>
            <td><%= urls[url] %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </main>
  </body>
</html>
